<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Fizzler" version="1.2.0" targetFramework="monoandroid90" />
  <package id="HarfBuzzSharp" version="2.6.1.1" targetFramework="monoandroid90" />
  <package id="SkiaSharp" version="1.68.1.1" targetFramework="monoandroid90" />
  <package id="SkiaSharp.HarfBuzz" version="1.68.1.1" targetFramework="monoandroid90" />
  <package id="Svg.Custom" version="0.1.6" targetFramework="monoandroid90" />
  <package id="Svg.Skia" version="0.1.6" targetFramework="monoandroid90" />
  <package id="System.Buffers" version="4.4.0" targetFramework="monoandroid90" />
  <package id="System.Drawing.Common" version="4.7.0" targetFramework="monoandroid90" />
  <package id="System.Memory" version="4.5.3" targetFramework="monoandroid90" />
  <package id="System.ObjectModel" version="4.3.0" targetFramework="monoandroid90" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="monoandroid90" />
</packages>